/target
/target/classes/static/js/account.js
/target/classes/static/images/account.svg
/target/classes/be/kuleuven/distributedsystems/cloud/Application.class
/target/classes/application.properties
/target/classes/be/kuleuven/distributedsystems/cloud/entities/Booking.class
/target/classes/be/kuleuven/distributedsystems/cloud/controller/BookingController.class
/target/classes/be/kuleuven/distributedsystems/cloud/BookingManager.class
/target/classes/static/js/cart.js
/target/classes/data.json
/firebase-tools-instant-win.exe
/firestore-debug.log
/target/classes/be/kuleuven/distributedsystems/cloud/entities/Flight.class
/target/classes/static/js/flight_seats.js
/target/classes/static/js/flight_times.js
/target/classes/be/kuleuven/distributedsystems/cloud/controller/FlightController.class
/target/classes/static/js/flights.js
/target/classes/static/js/header.js
/target/classes/static/hongkong.jpg
/target/classes/static/css/index.css
/target/classes/static/index.html
/target/classes/static/js/index.js
/target/classes/static/js/login.js
/target/classes/static/images/logout.svg
/target/classes/static/js/manager.js
/target/classes/be/kuleuven/distributedsystems/cloud/entities/Permission.class
/pubsub-debug.log
/target/classes/be/kuleuven/distributedsystems/cloud/entities/Quote.class
/target/classes/static/images/receipt.svg
/target/classes/be/kuleuven/distributedsystems/cloud/entities/Seat.class
/target/classes/be/kuleuven/distributedsystems/cloud/auth/SecurityFilter$FirebaseAuthentication.class
/target/classes/be/kuleuven/distributedsystems/cloud/auth/SecurityFilter.class
/target/classes/static/images/shopping_cart.svg
/target/classes/static/js/state.js
/target/classes/be/kuleuven/distributedsystems/cloud/entities/Ticket.class
/target/classes/static/tortola.jpg
/ui-debug.log
/target/classes/be/kuleuven/distributedsystems/cloud/entities/User.class
/target/classes/be/kuleuven/distributedsystems/cloud/controller/ViewController.class
/target/classes/be/kuleuven/distributedsystems/cloud/auth/WebSecurityConfig.class
/target/classes/be/kuleuven/distributedsystems/cloud/WebService.class
/target/classes/be/kuleuven/distributedsystems/cloud/WebServiceImpl$1.class
/target/classes/be/kuleuven/distributedsystems/cloud/WebServiceImpl$2.class
/target/classes/be/kuleuven/distributedsystems/cloud/WebServiceImpl$3.class
/target/classes/be/kuleuven/distributedsystems/cloud/WebServiceImpl.class
/firebase-debug.log
